.background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50%;
}

.music {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.static {
  background: url(../../assets/miles-static.jpg);
  background-color: black;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

